<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%p][%t][%c][%M][%L]-> %m%n</pattern>
        </encoder>
    </appender>





    <!-- All log -->
    <root level="INFO" >
        <appender-ref ref="consoleLog" />
    </root>

</configuration>
